* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 24px;
  border-bottom: 1px solid #75507B;
  background: white;
}
header .icon, header .title {
  display: inline-block;
  padding: 8px;
}
header .icon {
  background: #75507B;
  color: white;
}
header .title {
  color: #75507B;
}

main {
  margin-top: 56px;
}
main .list_item {
  display: table;
  width: auto;
  text-decoration: none;
  margin: 8px 0;
}
main .list_item .num, main .list_item .date {
  display: inline-block;
  border: 1px solid #75507B;
  padding: 8px;
}
main .list_item .num {
  border-radius: 4px 0 0 4px;
  background: #75507B;
  color: white;
}
main .list_item .date {
  border-radius: 0 4px 4px 0;
  color: #75507B;
}
main .list_item:hover .date {
  background: #75507B;
  color: white;
}

nav {
  margin: 8px 0;
}
nav .nav_item {
  display: inline-block;
  border: 1px solid #75507B;
  color: #75507B;
  font-size: 16px;
  padding: 8px;
  text-decoration: none;
}
nav .nav_item:hover {
  background: #75507B;
  color: white;
}
nav .prev {
  border-radius: 4px 0 0 4px;
}
nav .next {
  border-radius: 0 4px 4px 0;
}
nav .disabled {
  background-color: #D3D7CF;
  border-color: #D3D7CF;
  color: black;
}
nav .disabled:hover {
  color: black;
  background: #D3D7CF;
}
